.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header1 {
  background-color: #2A3136;
  height: 100px;
  color: white;
  position: relative;
}
.footer1 {
  background-color: #2A3136;
  height: 100px;
  color: white;
  position: static;
}

.header-logo{
  position: absolute;
  height: 100px;
  width: 200px;
  left: 30px;
}
.header-login{
  position: absolute;
  font-size: 18px;
  right: 200px;
  top: 40px;
  align-self: right;
  text-decoration: none;
}
.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.grid1 {
  display : grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas: 
  "exercise reports"
  "paint     config";

  height: 100vh;
  margin: 2em;
  background: #FFFFFF ;
}

section.exercise {
  grid-area: exercise;
}

section.reports {
  grid-area: reports;
}

section.paint {
  grid-area: paint;
}

section.config {
  grid-area: config;
}

.card{
background-color: #546067;
border-radius: 8px;
height: 50vh;
margin-bottom: 3em;
margin-left: 8em;
margin-right: 2em;
height: 250px;
width: 350px;
position: relative;
}

.card_title{
color: #FFFFFF;
text-align: left;
position: relative;
top: 35px;
left: 24px;
font-size: 24px;

}
.logo-box {
  position: absolute;
  top: 8px;
  left: 240px;
  height: 85px;
  width: 85px;
}

.card_text{
color: #E0E0E0;
margin-right: 80px;
left: 24px;
top: 45px;
position: relative;
text-align: left;
font-size: 14px;
}

.card_button {
  position:absolute;
  color: #00E583;
  border: 1px solid #00E583;
  background-color: #546067;;
  border-radius: 4px;
  font-size: 18px;
  left: 50%;
  margin-left: -70px;
  top: 75%;
  
  padding: 6px 20px;
  
}


.footer_text{
  position: relative;
  text-align: center;
  font-size:14px;
  color: #E0E0E0;
  top: 70px;

}

.carousel{
  top: 10px;
  bottom: 15px;

}
.carousel-cont{
position: relative;
}
.carousel-root{
 
  align-self: center;
  display: flex;
}
.carousel-card{
  position: absolute;
  bottom: 200px;
  left: 50%;
  width: 70%;
  background-color: rgba(0,0,0,0.6);
  margin-left: -25% ;
  padding: 10px;
  text-align: center;
  height: 300px;
  width: 650px;
  border-radius: 10px;
  color: black;
}

.carousel-title{
  position: relative;
  font-size: 36px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.carousel-text{
  position: relative;
  font-size: 24px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.carousel-button{
background-color: #00E583;
color: white;
font-weight: bold;
text-decoration: none;
border-radius: 12px;
font-size: 14px;
padding: 4px;
padding-left: 25px;
padding-right: 25px;
}

.collap{
  align-self: center;
  margin-left: 40px;
  margin-top: 6px;
  background-color: #fbfbfb;
  margin-right: 40px;
  font-size: 16px;
  padding:10px;
  padding-left: 25px;
  
}
.collap:hover,.collap-body:hover{
  cursor: pointer;
}

.collap-body{
  margin-left: 40px;
  margin-top: 30px;
  background-color: #fbfbfb;
  margin-right: 40px;
  font-size: 16px;
  padding: 10px;
}
.collap-content{
  position: relative;
  text-align: left;
  margin-left: -28%;
  
}

.green-btn{
  margin-top: 30px;
  margin-left: 80%;
  background-color: #22e96b;
  border-radius: 12px;
  padding:8px;
  color: white;
}

.collap-img{
  margin-top: 8px;
  height: 200px;
  width: 375px;
}
.div1{
  display: flex;
  flex-direction: row;
  
}
.divimg{
  width: 50%;
}
.divcontent{
  width: 50%;
  align-content: left;
}
.lista{
  margin-bottom: 15px;
}

.search{
  width:100%;
  position: relative;
  display: flex;
  margin-top: 1%;
  margin-left: 40px;
}
.searchTerm{
border: 1px solid #2A3136;
padding: 5px;
border-radius: 5px 0 0 5px;
outline: none;
color: black;

}
.searchButton{
border: 1px solid #2A3136;
background: #2A3136;
width: 36px;
height: 36px;
cursor: pointer;
color: #fff;
font-size: 20px;
border-radius: 0 5px 5px 0;
align-content: left;
margin-left: -10px;
}

.canvas-container{
  align-self: center;
  display: flex;
}
.canvas-btns{
  position: relative;
  flex-direction: row;
  margin-left: 5%;
  margin-bottom: 5px;

}
.canvas_brush{
  position: relative;
  margin-left: 1%;
  padding: 5px;
  top: 5px;
}

.colorpicker{
  position: relative;
  margin-top:0;
  transform: rotate(180deg);
  margin-right: 500px;
  bottom: -23px;
}
.canvas-actions{
  background-color:  #2A3136;
  border-radius: 12px;
  padding:5px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;

}
label{
  position: absolute;
  left: 8px;
  top: 12px;
  color: #999;
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  background-color: rgba(255,255,255,0);
}
  .floatLabel{
    position: absolute;
    top: -14px;
    background-color: rgba(255,255,255,0.9);
    font-size: 14px; 
    margin-left: 40%;
  
  }


h2{
  text-align: center;
}
p{
  position: relative;
}

.form-labels{
  position: relative;
  text-align: center;
}

button[type='submit']{
  background-color: #2A3136;
  color: white;
  border: none;
  text-align: center;
  font-size: 1em;
  outline: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.input-forms{
  background: #fff;
  border: 1px solid #dbdbdb;
  font-size: 16;
  padding: .8em .5em;
  border-radius: 2px;
}

.login-link{
  text-decoration: none;
  color:  white;
}

.test_exp{
  width: 80%;
  margin-left: 5% ;
  margin-right: 5%;
}

.tecnica_input{
  font-size: 14px;
}

.test_table{
  margin-left: 28%;
}

td{
  text-align: center;
}
th{
  color:white;
  background-color: #22e96b;
  padding-left: 10px;
  padding-right: 10px;
}

tr:nth-child(even){
  background-color: #f2f2f2;

}

.moviment1{
  background-color: #f2f2f2;
  padding-right: 8px;
  padding-left: 8px ;
}
.moviment2{
  background-color: #f2f2f2;
  padding-right: 8px;
  padding-left: 8px ;
}
.msg_div{
  text-align: center;
}
.succes_msg{
  color: #270;
  background-color: #DFF2BF;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
}
.fail_msg{
  color: #D8000C;
  background-color: #FFBABA;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
}

.stepper{
  width: 90%;
  align-self: center;
  margin-left: 5%;

}

.newtest_btn{
  margin-left: 80%;
  background-color: #22e96b;
  border-radius: 8px;
  padding:6px;
  color: white;
  border: none;
  font-size: 14px;
}